<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="Main.master.vb" Inherits="ISWIFT.Web.Main" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 2.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="HeadMain" runat="server">
     
    <title>Vtech Warehouse</title>
    <link href="../Images/favicon.ico" rel="shortcut icon" type="image/ico" />

    <asp:ContentPlaceHolder ID="ContentHeader" runat="server">
    </asp:ContentPlaceHolder>
    <link href="../Js/Schema/images/favicon.ico" rel="icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900|Display+Playfair:200,300,400,700">
    <link rel="stylesheet" href="../Js/Schema/fonts/icomoon/style.css">

    <link rel="stylesheet" href="../Js/Schema/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Js/Schema/css/magnific-popup.css">
    <link rel="stylesheet" href="../Js/Schema/css/jquery-ui.css">
    <link rel="stylesheet" href="../Js/Schema/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Js/Schema/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="../Js/Schema/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="../Js/Schema/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


    <link rel="stylesheet" href="../Js/Schema/css/aos.css">
	<link rel="stylesheet" href="../Js/Schema/chosen/chosen.css">

    <link rel="stylesheet" href="../Js/Schema/css/style.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    
	
</head>
<body>
    
	<form id="MainForm" runat="server">
   
    </form>
    <div id="header">
        <header class="site-navbar py-3" role="banner" style="background-color:#4c5a663b">
        <div class="site-wrap">

            <div class="site-mobile-menu">
                <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                        <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                </div>
                <div class="site-mobile-menu-body"></div>
            </div>


            <div class="container">
                <div class="row align-items-center">
                    <a href="/">
                        <div class="col-11 col-xl-2">
                            <img src="../Js/Schema/images/ic_logo.png" style="margin-left: -71px; width: 200px; height: 65px">
                        </div>
                    </a>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="Home/About">About Us</a></li>
                                <li class="has-children">
                                    <a href="services.html">Services</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Air Freight</a></li>
                                        <li><a href="#">Ocean Freight</a></li>
                                        <li><a href="#">Ground Shipping</a></li>
                                        <li><a href="#">Warehousing</a></li>
                                        <li><a href="#">Storage</a></li>
                                    </ul>
                                </li>
                                <li><a href="industries.html">Industries</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="contact.html" class="icon-user"  > Login</a></li>

                            </ul>
                        </nav>
                    </div>


                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                </div>

            </div>
        </div>

    </header>

    </div>
    <div id="bodyWrapper"  >
       
            <asp:ContentPlaceHolder ID="ContentBody" runat="server">
           

		   </asp:ContentPlaceHolder>
        </div>
    </div>
   
    <div id="content"></div>
    <div id="subcontent"  ></div>
    <div id="footer">
	   <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Quick Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Products</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Features</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Follow Us</h2>
                            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                    <form action="#" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-user-circle" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">NTL</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
	</div>
</body>
</html>
