* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 11px;
	font-family: Verdana;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
}

.child {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-panel {
	position: relative;
	flex-basis: 400px;
	height: calc(100vh - 2rem);
	transition: 2s ease;
}

.arrow-next-right {
	position: absolute;
	top: 50%;
	left: -32px;
	background: url(/Js/leaflet/images/icons/icon-double-arrow-right.png) no-repeat center center rgba(255,255,255,0.7);
	border-radius: 5px 0 0 5px;
	width: 29px;
	height: 50px;
	z-index: 1000;
	cursor: pointer;
}

.arrow-next-right:hover {
	opacity: 0.5;
}

.arrow-previous-right {
	position: absolute;
	top: 50%;
	left: -63px;
	background: url(/Js/leaflet/images/icons/icon-double-arrow-left.png) no-repeat center center rgba(255,255,255,0.7);
	border-radius: 5px 0 0 5px;
	width: 29px;
	height: 50px;
	z-index: 1000;
	cursor: pointer;
}

.arrow-previous-right:hover {
	opacity: 0.5;
}

.left-panel {
	position: relative;
	height: 100vh;
	//flex-basis: 250px;
	background-color: turquoise;
	transition: 2s ease;
	left: -22.5%;
}

.arrow-next-left {
	position: absolute;
	top: 50%;
	right: -32px;
	background: url(/Js/leaflet/images/icons/icon_main_menu_swicth_right.png) no-repeat center center rgba(255,255,255,0.7);
	border-radius: 5px 0 0 5px;
	width: 29px;
	height: 50px;
	z-index: 1000;
	cursor: pointer;
}

.arrow-next-left:hover {
	opacity: 0.5;
}

.arrow-previous-left {
	position: absolute;
	top: 50%;
	right: -63px;
	background: url(/Js/leaflet/images/icons/icon-double-arrow-left.png) no-repeat center center rgba(255,255,255,0.7);
	border-radius: 5px 0 0 5px;
	width: 29px;
	height: 50px;
	z-index: 1000;
	cursor: pointer;
}

.arrow-previous-left:hover {
	opacity: 0.5;
}

#map {
	width: 100%;
	height: 100vh;
}

#map .leaflet-popup-content-wrapper {
	width: 500px;
}

.m-font {
	font-family: Verdana;
	font-size: 11px;
}

.m-flex {
	flex: 0 0 auto;
}

.m-padding-10 {
	padding: 0 10px 0 0;
}

.m-weight {
	font-weight: 700;
}

#map ul {
	width: 460px;
	overflow: hidden;
	border: 1px solid red;
	padding: 5px;
}
#map li {
	line-height: 1.5em;
	float: left;
	display: inline;
	border-bottom: 1px solid #DDDDDD;
	border-right: 2px;
}
#double li {
	width: 50%;
	padding: 2px 5px;
	display: flex;
	height: 30px;
	background: #F1F1F1;
}
#double li:nth-child(odd) {
	border-left: solid 1px #DDDDDD;
}
#double li:nth-child(even) {
	margin-left: 0px;
	border-left: solid 1px #DDDDDD;
}

.leaflet-tooltip-left:before {
    right: 0;
    margin-right: -12px;
    border-left-color: rgba(0, 0, 0, 0.4);
}
.leaflet-tooltip-right:before {
    left: 0;
    margin-left: -12px;
    border-right-color: rgba(0, 0, 0, 0.4);
    }
.leaflet-tooltip-own {
    position: absolute;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px solid #000;
    color: #000;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

table {
	border-collapse: collapse;
	background: white;
	table-layout: fixed;
	width: 100%;
}

th, td {
	padding: 8px 16px;
	border: 1px solid #ddd;
	width: 160px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
}

#myTable tbody tr:hover {
	opacity: 0.5;	
}	

.pane {
	position: absolute;
	top: 0;
	right: 0;
	background: #eee;
}

.pane-hScroll {
	overflow: auto;
	width: 400px;
	background: green;
}

.pane-vScroll {
	overflow-y: auto;
	overflow-x: hidden;
	height: 200px;
	background: red;
}

tbody tr:nth-child(odd) {
  background-color: #f2f3f6;
}

tbody tr:nth-child(even) {
  background-color: #e4e4e4;
}

.car-blue {
	border-radius: 5px 0 0 5px;
	width: 50px;
	height: 40px;
	z-index: 1;
	background: url(/Js/leaflet/images/car-color/container-blue32.png) no-repeat center center rgba(255,255,255,0.7); 
}

.car-purple {
	border-radius: 5px 0 0 5px;
	width: 32px;
	height: 32px;
	background: url(/Js/leaflet/images/car-color/container-purple32.png) no-repeat center center rgba(255,255,255,0.7);	
}

.car-green {
	border-radius: 5px 0 0 5px;
	width: 32px;
	height: 32px;
	background: url(/Js/leaflet/images/car-color/container-green32.png) no-repeat center center rgba(255,255,255,0.7);	
}

.car-red {
	border-radius: 5px 0 0 5px;
	width: 32px;
	height: 32px;
	background: url(/Js/leaflet/images/car-color/container-red32.png) no-repeat center center rgba(255,255,255,0.7);	
}

.car-black {
	border-radius: 5px 0 0 5px;
	width: 32px;
	height: 32px;
	background: url(/Js/leaflet/images/car-color/container-black32.png) no-repeat center center rgba(255,255,255,0.7);	
}

.wrapper {
	display: inline-flex;
	list-style: none;
}

.wrapper .icon {
	position: relative;
	background: #ffffff;
	border-radius: 50%;
	padding: 15px;
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .box {
	position: relative;
	background: #ffffff;
	border-radius: 10%;
	padding: 15px;
	margin: 10px;
	width: 50px;
	height: 50px;
	font-size: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tab {
	position: relative;
	background: #ffffff;
	//border-radius: 10%;
	border-right: 1px solid #000;
	padding: 15px;
	//margin: 10px;
	width: 120px;
	height: 50px;
	font-size: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .button {
	position: relative;
	background: #ffffff;
	border-radius: 10%;
	padding: 5px;
	margin: 5px;
	width: 50px;
	height: 35px;
	font-size: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
	position: absolute;
	top: 0;
	min-width: 65px;
	font-size: 11px;
	background: #ffffff;
	color: #ffffff;
	padding: 5px 8px;
	border-radius: 5px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
	position: absolute;
	content: "";
	height: 8px;
	width: 8px;
	background: #ffffff;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%) rotate(45deg);
	transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .box:hover .tooltip {
	top: -45px;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.wrapper .box:hover span,
.wrapper .box:hover .tooltip {
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
	background: #1877F2;
	color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
	background: #1DA1F2;
	color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
	background: #E4405F;
	color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
	background: #778899;
	color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
	background: #CD201F;
	color: #ffffff;
}

.wrapper .qchat:hover,
.wrapper .qchat:hover .tooltip,
.wrapper .qchat:hover .tooltip::before {
	background: #006400;
	color: #ffffff;
}

.wrapper .kakao:hover,
.wrapper .kakao:hover .tooltip,
.wrapper .kakao:hover .tooltip::before {
	background: #FF8C00;
	color: #ffffff;
}

.list-menu-horizontal {
	width: 400px;
}

.sidebarmenu {
    position:absolute;
    float:right;
    height:100vh;
    width:400px;
    background:red;
    right:0px;
    top:0;
}
.tablemenu {
    height:100vh;
    width:100%;
    background:pink;
    float:right;
    padding-right:400px;
}
#wrapmenu {
    height:100vh;
    width:100%;
    float:right;
    position:relative;
}


