USE [Syn_Demo25_UBPX]
GO
/****** Object:  StoredProcedure [dbo].[st_CreateDocumentCode]    Script Date: 8/12/2025 1:31:15 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO


ALTER PROCEDURE [dbo].[st_CreateDocumentCode]
	@ngay_ct DATE,
	@ma_nvb VARCHAR(40),
	@ma_loai VARCHAR(3)
AS 
BEGIN
SET NOCOUNT ON

	DECLARE  @nVb as int, @exsit as int;

	DECLARE @ma_vb AS VARCHAR(32) = '', @year VARCHAR(4);

	SET @year = CONVERT(VARCHAR(4), YEAR(@ngay_ct))

	

	---@ma_vb = @ma_loai + nếu chưa có thì thành 001 nếu có rồi thì 001 - 2025 - @ma_nvb --- kiểm tra theo @ma_nvb và @year
	-- @ma_vb = 'VB-001-2025-TC'


	SELECT @nVb = ISNULL(MAX(CAST(SUBSTRING(ma_vb, LEN(@ma_loai) + 2, 3) AS INT)), 0)
	FROM dmvb
	WHERE ma_vb LIKE CONCAT(@ma_loai, '-%-', @year, '-', @ma_nvb);

	SET @nVb = @nVb + 1;

	SET @ma_vb = @ma_loai + '-'  + RIGHT('000' + CAST(@nVb AS VARCHAR(3)), 3) + '-'  + @year + '-' + @ma_nvb;

	select @ma_vb [!ma_vb], @year [!year]

	/*
	SELECT TOP 1 @tu_so = tu_so, @den_so = den_so from dmplvb where ma_pl = @ma_pl
	
	select top 1 @ma_vb = max(ma_vb) 
		from dmvb 
		where ma_pl = @ma_pl 
				and ma_nvb = @ma_nvb --and status <>'*'
		
	
	Set @ma_vb = isnull(@ma_vb,'')
	if @ma_vb = '' set @nSo_bd = @tu_so
	if @ma_vb <>''
	begin
		begin try
			set @nSo_bd = cast(SUBSTRING(@ma_vb,3,3) as int) + 1
		end try
		begin catch
			set @nSo_bd = @tu_so
		end catch  
	end
	*/
	---select @ma_vb = ltrim(rtrim(@ma_nvb)) + right('000'+ cast (@nSo_bd as varchar(3)),3)
	---select @ma_vb_tu = ltrim(rtrim(@ma_nvb)) + right('000'+ cast (@tu_so as varchar(3)),3)
	--select @ma_vb_den = ltrim(rtrim(@ma_nvb)) + right('000'+ cast (@den_so as varchar(3)),3)


SET NOCOUNT OFF
END	