<?xml version="1.0" encoding="utf-8"?>

<config xmlns="urn:schemas-iswift:struct-config">
	<mail>
	  <setting>
		<aliasName value="ISWIFT mail sending"/>
		<userName value="iswift.team.solution@gmail.com"/>
		<password value="12345!@#$%"/>
		<host value="smtp.gmail.com"/>
		<port value="25"/>
		<enableSSL value="true"/>
	  </setting>
	</mail>
</config>